.Header-container {
  background-color: #703B09;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {
  width: 1200px;
  padding: 0px 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.BurgerMenu {
  background:rgba(255,255,255,.3);
  width: 35px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.BurgerMenu:before {
  content:'';
  position: absolute;
  height: 5px;
  background-color: #733c00;
  top: 5px;
  left: 0;
  width: 100%;
}

.BurgerMenu:after {
  content:'';
  position: absolute;
  height: 5px;
  background-color: #733c00;
  bottom: 5px;
  left: 0;
  width: 100%;
}


@media (max-width: 600px){
  .DesktopOnly{
    display: none;
  }
}

@media (min-width: 599px){
  .MobileOnly{
    display: none;
  }
}

