.NavItem {
  height: 100%;
  padding: 19px 20px;
  margin-top: 15px;
  box-sizing: border-box;
  margin-top: 0;
  color: white;
  font-size: 16px;
  color: white;
  text-decoration: none;

}

.NavItem:hover, .active{
  color: white;
  text-decoration: none;
  background-color: #8F5C2C;
  border-bottom: 4px solid #40A4C8;

}

@media (max-width:599px) {
  .NavItem {
    width: 100%;
    padding: 19px 20px;
    margin-top: 15px;
    box-sizing: border-box;
    margin-top: 0;
    color: white;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #40A4C8;
    display: inline-block;
  }
  .item {
    height: 80px;
    width: 100%;
    margin-bottom: 11px;
  }
}