.Button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  width: 100%;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}


.Success {
  color: #5C9210;
}

.Danger {
  color: #944317;
}