.bacon {
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
    height: 4%;
    width: 90%;
}
.salad {
    background: linear-gradient(#228c1d, #91ce50);
    margin: 2% auto;
    height: 7%;
    width: 96%;
    border-radius: 20px;
}
.cheese {
    background: linear-gradient(#f4d004, #d6bb22);
    margin: 2% auto;
    height: 5%;
    width: 95%;
    border-radius: 20px;
}
.meat {
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    height: 8%;
    width: 95%;
    border-radius: 20px;
}