.ContactDetails {
  padding: 50px;
  background-color: #f2f2f2;
  border: solid 1px #000;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ConfirmButton {
  margin-left: 46%;
}