.SignUp {
  padding: 50px;
  background-color: #f2f2f2;
  border: solid 1px #000;
  margin-top: 60px;
  display: flex;
  // justify-content: center;
  flex-direction: column;
}
form{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.ConfirmButton {
  margin: 30px auto 0px;
  width: 200px;
}
