.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  flex-direction: column;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
}