.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .NavigationItems {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
}
